html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    width: 100%;
}
header {
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    width: 100%;
}
.frame1 {
    position: relative;
    width: 100%;
    height: 86px;
    background: #ffffff;
    flex-grow: 1;
    display: flex;
}
.name {
    position: absolute;
    width: 151px;
    height: 44px;
    margin-left: 118px;
    margin-top: 21px;
    line-height: auto;
    font-size: 42px;
    font-weight: 700;
    color: #1E3932;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid #004F44 ; */
}
.frame1_profile_line_cart {
    position: absolute;
    width: 72px;
    height: 24px;
    margin-left: 1810px;
    margin-top: 31px;
    display: flex;
    align-items: center;
    /* border: 1px solid #004F44 ; */
}
.profile_line {
    position: relative;
    width: 44px;
    height: 24px;
}
.profile {
    position: relative;
    width: 24px;
    height: 24px;
    color: #004F44;
}
.vertical_line {
    position: absolute;
    height: 24px;
    width: 1px;
    margin-left: 44px;
    background-color: #D9D9D9;
}
.btn_profile {
    position: absolute;
    width: 24px;
    height: 24px;
    color: #004F44;
    display: flex;
}
.circle1 {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: 7px;
    margin-top: 2.5px;
    border: 2px solid #004F44;
    border-radius: 50%;
}
.vector1 {
    position: absolute;
    width: 10px;
    height: 5px;
    margin-left: 6px;
    margin-top: 16px;
    background: transparent;
    border: 2px solid #004F44;
    border-radius: 3px;
    overflow: hidden;
    clip-path: inset(0 0 40% 0);
}
.cart {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    color: #004F44;
}
.btn_cart {
    position: absolute;
    margin-top: 1.41px;
    background-position: center;
}
.tea_cup {
    position: absolute;
    width: 42px;
    height: 40px;
    margin-left: 64px;
    margin-top: 17px;
}
.frame1_search_string {
    position: absolute;
    width: 364px;
    height: 56px;
    margin-left: 1428px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.btn_search {
    position: relative;
    width: 364px;
    height: 56px;
    border: 1px solid #6C757D;
    border-radius: 8px;
    cursor: text;
}
.searchtext_dandruff {
    position: relative;
    margin-left: 16px;
    margin-top: 16px;
    width: 233px;
    height: 24px;
    display: flex;
    align-items: center;
}
.dandruff {
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 60%;
}
.searchtext {
    position: absolute;
    width: 201px;
    margin-left: 26px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    opacity: 70%;
    outline: 0;
    border: 0;
}
.small_search {
    display: none;
}
.frame1_pages {
    position: absolute;
    width: 476px;
    height: 32px;
    margin-left: 610px;
    margin-top: 27px;
    display: flex;
}
.pages {
    position: relative;
    width: 476px;
    height: 32px;
}
.btn_text_Contact {
    position: absolute;
    width: 76px;
    height: 24px;
    text-decoration: none;
    color: #232321;
    margin-left: 392.68px;
    line-height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.btn_text_AboutUs {
    position: absolute;
    width: 88px;
    height: 24px;
    margin-left: 272.68px;
    text-decoration: none;
    color: #232321;
    line-height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.btn_text_Offers {
    position: absolute;
    width: 59px;
    height: 24px;
    margin-left: 181.68px;
    text-decoration: none;
    color: #232321;
    line-height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.btn_text_Shop {
    position: absolute;
    width: 94px;
    height: 24px;
    margin-left: 89px;
    text-decoration: none;
    color: #232321;
    line-height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.btn_text_Home {
    position: absolute;
    width: 57px;
    height: 24px;
    text-decoration: none;
    color: #232321;
    line-height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.btn_text_Contact2 {
    position: absolute;
    width: 110px;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-left: 7px;
}
.btn_text_AboutUs2 {
    position: absolute;
    width: 110px;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 55px;
    margin-left: 7px;
}
.btn_text_Offers2 {
    position: absolute;
    width: 110px;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 105px;
    margin-left: 7px;
}
.btn_text_Shop2 {
    position: absolute;
    width: 110px;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 155px;
    margin-left: 7px;
}
.btn_text_Home2 {
    position: absolute;
    width: 110px;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 205px;
    margin-left: 7px;
}
.menu_container {
    display: none;
    position: relative;
    margin-left: 200px;
    margin-top: 20px;
    z-index: 1000;
}
.menu_button{
    background-color: #ffffff;
    padding: 5px 5px;
    cursor: pointer;
    border: none;
    font-size: 28px;
}
.menu_content {
    display: none;
    position: absolute;
    height: 260px;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 5px;
    min-width: 150px;
    z-index: 9999;
    overflow-y: auto;
    gap: 10px;
}
.menu_content a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-bottom: 1px solid #ddd;
    gap: 10px;
}
.menu_content a:hover {
    background-color: #f1f1f1;
}
.frame2 {
    position: relative;
    margin-top: 86px;
    width: 1920px;
    height: 52px;
    background: #1E3932;
    flex-grow: 1;
    display: flex;
}
.frame2_text_btn {
    position: absolute;
    width: 1650px;
    height: 36px;
    margin-top: 8px;
    margin-left: 135px;
    display: flex;
}
.frame2_text {
    position: absolute;
    width: 730px;
    height: 19px;
    margin-top: 8.5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
.btn_frame2 {
    position: absolute;
    width: 132px;
    height: 36px;
    margin-left: 1500px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    text-decoration: none;
}
.btn_frame2_text {
    width: 79px;
    height: 18px;
    margin-left: 26.5px;
    margin-top: 9px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.frame3 {
    position: relative;
    width: 1920px;
    height: 815px;
    background-color: rgba(136, 180, 78, 0.56);
    display: flex;
}
.frame3_text1 {
    position: absolute;
    width: 396px;
    height: 86px;
    margin-left: 43px;
    margin-top: 12px;
    color: #1E3932;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    word-spacing: 10px;
    line-height: 86px;
    letter-spacing: 0.2em;
}
.frame3_text2 {
    position: absolute;
    width: 451px;
    height: 90px;
    margin-left: 43px;
    margin-top: 110px;
    color: #592222;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Philosopher', sans-serif;
}
.frame3_herbal1 {
    position: absolute;
    width: 149px;
    height: 149px;
    margin-left: 2px;
    margin-top: 666px;
}
.frame3_herbal2 {
    position: absolute;
    width: 71px;
    height: 118px;
    margin-left: 1849px;
    margin-top: 353.96px;
}
.frame3_herbal3 {
    position: absolute;
    width: 92px;
    height: 181px;
    margin-left: 1828px;
}
.frame3_button {
    position: absolute;
    width: 279px;
    height: 58.05px;
    margin-left: 129px;
    margin-top: 250px;
    background-color: #1E3932;
    border-radius: 14px;
    display: flex;
}
.text_btn {
    width: 223px;
    height: 24px;
    margin-left: 28px;
    margin-top: 17.25px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.frame3_text {
    width: 145px;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
}
.btn_arrow {
    height: 30px;
}
.Big_tea_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.Big_tea_img_2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.Tea_small {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.frame_AboutUs {
    position: relative;
    height: auto;
    padding: 40px;
    background-color: #004F44;
}
.frame_AboutUs_Padding {
    background-color: #EEF0DC;
    padding: 20px;
}
.frame_AboutUs_Title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}
.frame_AboutUs_TextImg {
    display: flex;
    height: auto;
}
.frame_AboutUs_Text {
    width: 50%;
    text-align: justify;
    text-indent: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.frame_AboutUs_Text p {
    margin: 0 0 15px 0;
}
.frame_AboutUs_Img {
    margin-left: 160px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.AboutUs_LeftColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.AboutUs_LeftColumn img {
    width: 100%;
    max-width: 300px;
}
.AboutUs_RightColumn img {
    width: 100%;
    max-width: 300px;
}
.footer {
    height: 300px;
    width: 100%;
    background-color: #EEF0DC;
}
.footer_elements {
    display: flex;
    justify-content: space-between;
    height: 260px;
    margin: 20px 50px 20px 50px;
    border: 1px solid black;
}
.author {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_author_title {
    margin-top: 10px;
    font-size: 32px;
    position: relative;
    display: inline-block;
    line-height: 1;
}
.footer_author_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.3);
}
.author_name_groop {
    margin-top: 10px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
.author_photo {
    height: 150px;
    width: auto;
}
.author_photo img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.support {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_support_title {
    margin-top: 10px;
    font-size: 32px;
    position: relative;
    display: inline-block;
    line-height: 1;
}
.footer_support_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.3);
}
.support_email_tel{
    display: flex;
    flex-direction: column;
}
.support_email {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    position: relative;
}
.support_tel {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    position: relative;
}
.support_email::after, .support_tel::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.3);
    transition: width 0.4s ease;
}
.support_email:hover::after, .support_tel:hover::after {
    width: 100%;
}

.account {
    width: 24%;
    height: 100%;
    border: 1px solid black;
}
.findUs {
    width: 24%;
    height: 100%;
    border: 1px solid black;
}

@media (max-width:1919px) {
    .frame1 {
        position: relative;
        width: 100%;
        height: 86px;
        background-color: #ffffff;
    }
    .frame2 {
        position: relative;
        width: 100%;
        height: 52px;
        background-color: #1E3932;
    }
    .frame3 {
        position: relative;
        width: 100%;
        height: 815px;
        background-color: rgba(136, 180, 78, 0.56);
    }
    .frame1_profile_line_cart {
        position: absolute;
        width: 72px;
        height: 24px;
        margin-left: calc(100vw - 90px);
        margin-top: 31px;
        display: flex;
        align-items: center;
    }
    .frame1_search_string {
        position: absolute;
        width: calc(15vw + 20px);
        height: 56px;
        margin-left: calc(99vw - 350px);
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    .frame1_pages {
        position: absolute;
        width: 476px;
        height: 32px;
        margin-left: 330px;
        margin-top: 27px;
        display: flex;
    }
    .btn_frame2 {
        position: absolute;
        width: 132px;
        height: 36px;
        margin-left: calc(100vw - 400px);
        border: 1px solid #ffffff;
        border-radius: 50px;
        text-decoration: none;
    }
    .frame3_herbal2 {
        position: absolute;
        width: 71px;
        height: 118px;
        right: 0;
        margin-top: 353.96px;
    }
    .frame3_herbal3 {
        position: absolute;
        width: 92px;
        height: 181px;
        right: 0;
    }
    .Big_tea_img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
@media (max-width: 1340px) {
    .container {
        flex-direction: column;
        display: flex;
    }
    .frame1 {
        position: relative;
        width: 100%;
        height: 86px;
        background-color: #ffffff;
    }
    .frame2 {
        position: relative;
        width: 100%;
        height: 52px;
        background-color: #1E3932;
    }
    .frame3 {
        position: relative;
        width: 100%;
        height: 569px;
        background-color: rgba(136, 180, 78, 0.56);
    }
    .name {
        font-size: 36px;
        margin-left: 45px;
    }
    .tea_cup {
        position: absolute;
        width: 32px;
        height: 30px;
        margin-left: 3px;
        margin-top: 17px;
    }
    .frame1_profile_line_cart {
        position: absolute;
        width: 72px;
        height: 24px;
        margin-left: calc(100vw - 100px);
        margin-top: 31px;
        display: flex;
        align-items: center;
    }
    .frame1_search_string {
        position: absolute;
        width: calc(15vw + 20px);
        height: 56px;
        margin-left: calc(99vw - 350px);
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    .frame1_pages {
        position: absolute;
        width: 476px;
        height: 32px;
        margin-left: 230px;
        margin-top: 27px;
        display: flex;
    }
    .frame3_herbal2 {
        position: absolute;
        width: 71px;
        height: 118px;
        right: 0;
        margin-top: 353.96px;
    }
    .frame3_herbal3 {
        position: absolute;
        width: 92px;
        height: 181px;
        right: 0;
    }
    .frame3_herbal1 {
        margin-top: 420px;
    }
    .Big_tea_img {
        display: none;
    }
    .Big_tea_img_2 {
        display: block;
    }
    .frame_AboutUs_Img {
        margin-left: 20px;
        display: flex;
        gap: 30px;
    }
}
@media (max-width: 1120px) {
    .frame2_text {
        display: none;
    }
}
@media (max-width: 1070px) {
    .pages {
        display: none;
    }
    .menu_container {
        display: block;
    }
}
@media (max-width: 720px) {
    .name {
        font-size: 30px;
        margin-left: 46px;
        margin-top: 26px;
    }
    .frame3_text1 {
        font-size: 24px;
        margin-left: 10px;
    }
    .frame3_text2 {
        font-size: 32px;
        margin-left: 10px;
    }
    .frame3_button {
        width: 260px;
        margin-top: 210px;
        margin-left: 20px;
    }
    .frame3_text {
        font-size: 16px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
    }
    .frame1_search_string {
        position: absolute;
        width: 100px;
        height: 56px;
        margin-left: calc(80vw - 120px);
        margin-top: 15px;
        display: flex;
        align-items: center;
        z-index: 10;
    }
    .small_search {
        display: flex;
        width: 150px;
        height: 20px;
        padding: 10px;
        border: 1px solid #6C757D;
        border-radius: 10px;
        background-color: #ffffff;
        z-index: 11;
    }
    .btn_search:not(.small_search) {
       display: none;
    }
    .searchtext_dandruff {
        width: auto;
        margin-left: 2px;
        margin-top: 0;
        width: 50px;
    }
    .dandruff {
        width: 20px;
        height: 20px;
    }
    .searchtext {
        display: block; /* щоб зробити елемент блоковим, тому я прибрав йогоdisplay: none; */
        width: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        color: #666666;
        background: none;
    }
    .Big_tea_img_2 {
        display: none;
    }
    .Tea_small {
        display: block;
    }
    .frame3_herbal2 {
        display: none;
    }
    .frame3_herbal3 {
        display: none;
    }
    .frame3_herbal1 {
        display: none;
    }
    .frame_AboutUs_Img {
        margin-left: 20px;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
}